@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h3> History. </h3>
    <p>
        Tame Impala is an Australian rock band. The band was founded by Kevin Parker in 2007. The group began as a home recording project for Parker, who writes, records, performs and produces the music. As a touring unit, the
        band consists of Parker, Watson, Avery and Barbagallo.
    </p>
    <h3> Albums </h3>
    <p>
        In 2010, Tame Impala relased their debut studio album, <i>Innerspeaker</i>, which was certified gold in Austrlia and well received by critics. The groups 2012 follow-up,
        <i>Lonerism</i>, was also acclaimed, reaching platnium status in Australia and receiving a Grammy Award nomination for <b>Best Alternative Music Albun</b>. The bands third
        album, <i>Currents</i>, was released in 2015.
    </p>
    <h3> Success</h3>
    <p>
        <ul>
            <li>Favorite newcomer</li>
            <li>Most promising new act</li>
            <li>Most popular single / EP</li>
            <li>Most popular act</li>
            <li>Most popular live act</li>
            <li>Best rock act</li>
            <li>Best guitarist</li>
        </ul>
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pFptt7Cargc" frameborder="0" allowfullscreen></iframe>

</div>
