@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3> Welcome to the Adams, Tame Impala fansite!</h3>
    <p> The site is dedicated to Australian band, Tame Impala! The website will be 100% user driven.</p>
    <p> This means, no hard coded data. All gigs and content will be user submitted. Enjoy!</p>
    <img src="/Content/TameImpala.jpg"</img>
    

</div>
<input type="button" id="btnGetGigs" value="Get Gigs" />
<label id="lblData"></label>

