
@{
    ViewBag.Title = "UpcomingGigs";
}

<div class="jumbotron">
    <h3> Below is the list of upcoming gigs.</h3>
    <p class="lead"><ul>
                        <li>Dublin, Ireland.</li>
                        <li>London, UK.</li>
                        <li>Amsterdam, Netherlands.</li>
                        <li>Munich, Germany.</li>
                        
                    </ul>
    </p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

